#canvas{
    display:block;
}
body {
    padding: 0;
    margin: 0;
}
.real-btn {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn-finish {
    position: absolute;
    left: 0%;
    top: 55%;
    width: 100%;
    height: 45%;
    border-radius: 10px;
    border: 0 none;
    background-color: #2aa700;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    pointer-events:none;
    display: none;
}

.btn-take-photo-again {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 45%;
    border-radius: 10px;
    border: 0 none;
    background-color: #2aa700;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    pointer-events:none;
    display: none;
}

.btn-take-photo{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 45%;
    border-radius: 5px;
    border: 0 none;
    background-color: #2aa700;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    pointer-events:none;
}

.buttonDiv{
    position: absolute;
    width: 80%;
    height: 20%;
    left: 50%;
    top: 75%;
    margin-left: -40%;
}
